[submodule "include/spline"]
	path = include/spline
	url = git@github.com:snhobbs/spline.git
[submodule "tests/CMakeStaticAnalysis"]
	path = tests/CMakeStaticAnalysis
	url = git@github.com:snhobbs/CMakeStaticAnalysis.git
[submodule "include/sprout"]
	path = include/sprout
	url = git@github.com:bolero-MURAKAMI/Sprout.git
[submodule "include/PIDTemplates"]
	path = include/PIDTemplates
	url = git@github.com:snhobbs/PIDTemplates.git
[submodule "include/CooperativeScheduler"]
	path = include/CooperativeScheduler
	url = git@github.com:snhobbs/CooperativeScheduler.git
